@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

.customfont{
	font-family: 'Aboreto', cursive;
}

.line{
	width: 100%;
  border: 1px solid #f97316;
  border-radius: 5px;
}

.text-catalog{
	width: 100vw;
}

.heading-catalog{
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Poiret One', cursive;
	text-align: center;
}

.secondarycolor{
	color: #f97316;
}

.bg-sec{
	background-color:#f97316 ;
}

.bg-main{
	background-color: #fb923c;
}

.maincolor{
	color: #fb923c;
}

.shadow{
	border: 2px solid #f97316;
	box-shadow: #f9741695 0px 50px 100px -20px, #f97416a1 0px 30px 60px -30px;
}

.shadow2{
	box-shadow: #f9741654 0px 50px 100px -20px, #f974165e 0px 30px 60px -30px;
}